.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 10rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
}

span {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}
