body {
  background-color: #282c34;
  color: rgb(97 218 251);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 20rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
}

span {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

input {
  background-color: #373940;
}

.flag-size {
  font-size: 3rem;
}
